/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/docs/js/cljs-runtime
/docs/js/manifest.edn
/out
/.repl
*.log
/.env
.calva
.clj-kondo
.lsp
.shadow-cljs
node_modules
