* {
    box-sizing: border-box;
    margin: 0;
}

.index {
    display: flex;
    flex-direction: column;
}

.index-button {
    font-size: 1em;
    text-align: left;
}

.function {
    background: #ffff84;
}

.syntax {
    background: #ffc4ff;
}

.data-type {
    background: #7effff;
}

.header {
    text-align: center;
}

.displays {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lang-button {
    border-radius: 100%;
    display: flex;
    overflow: hidden;
    padding: 0;
}

.lang-button-icon {
    height: 2em;
    width: 2em;
}
