* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

/* Screen that shows the list of language items as buttons */
.index {
    display: flex;
    flex-direction: column;
}

.index-button {
    border: none;
    font-size: 1em;
    margin: 2px;
    padding: 2px;
    text-align: left;
}

/* Styles according to the language item type */
.function {
    background: #ffff84;
}
.syntax {
    background: #ffc4ff;
}
.data-type {
    background: #7effff;
}

.exit-button {
    background: red;
    border-radius: 100%;
    border-style: none;
    color: white;
    height: 2em;
    margin: 2px;
    width: 2em;
}

.header-text {
    display: flex;
    justify-content: center;
    padding: 2px;
}

/* Container of the two displays */
.displays {
    display: flex;
}

.code-display-0 {
    border-right: #333 1px solid;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    width: 50%;
}

.code-display-1 {
    border-left: #333 1px solid;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    width: 50%;
}

/* Menu with the language buttons */
.lang-menu {
    background: #333;
    display: flex;
    flex-wrap: wrap;
}

.lang-button {
    background: white;
    border-radius: 100%;
    border-style: none;
    display: flex;
    margin: 2px;
    overflow: hidden;
    padding: 2px;
}

.lang-button:disabled {
    opacity: 0.5;
}

.lang-button-icon {
    height: 2em;
    width: 2em;
}

/* Code container */
.display-message {
    background: #222;
    color: white;
    padding: 5px;
}
.display-content {
    background: #222;
    color: white;
    font-family: "Cascadia Code", "Consolas", "Courier New", monospace;
    overflow: auto;
    padding: 5px 5px 15px 5px;
}

/* Page control styles */
.page-control-container {
    background: #333;
    text-align: center;
}
.page-control-buttons {
    border-radius: 100%;
    border-style: none;
    height: 2em;
    margin: 2px;
    width: 2em;
}
.page-control-text {
    color: white;
}
